html,body
{
	padding:0;
	margin:0;
	position: relative;
	height: 100%;
	width: 100%;
}

.stickcontainer {
	transform: scale(0.5);
}

.stick_holder8
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 10%;
	left:0;
	bottom:0;
	right:25%;
}

.stick_holder7
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 0;
	left:0;
	bottom:1%;
	right:40%;
}

.stick_holder6
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 0;
	left:0;
	bottom:1%;
	right:70%;
}

.stick_holder5
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 10%;
	left:0;
	bottom:0;
	right:0%;
}

.stick_holder4
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 0;
	left:0;
	bottom:7%;
	right:80%;
}


.stick_holder3
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 0;
	left:0;
	bottom:8%;
	right:50%;
}


.stick_holder2
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 0;
	left:0;
	bottom: 1%;
	right:10%;
}

.stick_holder
{
	position: absolute;
	height: 400px;
	width:200px;
	margin: auto;
	top: 0;
	left:0;
	bottom: 10%;
	right:-50%;
}
.human
{
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
    transform: scale(1);
}
.stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: teal;
	background-image: url(https://www.cryptocompare.com/media/19633/btc.png);
	background-size: contain;
	transform: rotate(10deg);
	transform-origin: bottom left;
}

.stick_holder2 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: lightgray;
	background-image: url(https://www.cryptocompare.com/media/20646/eth.png);
	background-size: contain;
	transform: rotate(10deg);
	transform-origin: bottom left;
}

.stick_holder3 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: white;
	background-image: url(https://www.cryptocompare.com/media/19782/litecoin-logo.png);
	background-size: contain;
	transform: rotate(10deg);
	transform-origin: bottom left;
}

.stick_holder4 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: lightblue;
	background-image: url(https://www.cryptocompare.com/media/19972/ripple.png);
	transform: rotate(30deg);
	transform-origin: bottom left;
	background-size: 80%;
    background-repeat: no-repeat;
    background-position: 5px;
}

.stick_holder5 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: lightblue;
	background-image: url(https://www.cryptocompare.com/media/351360/zec.png);
	transform: rotate(30deg);
	transform-origin: bottom left;
	background-size: contain;
}

.stick_holder6 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: white;
	background-image: url(https://www.cryptocompare.com/media/1383540/iota.jpg);
	transform: rotate(30deg);
	transform-origin: bottom left;
	background-size: 80%;
    background-repeat: no-repeat;
    background-position: 5px;
}

.stick_holder7 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: white;
	background-image: url(https://www.cryptocompare.com/media/19969/xmr.png);
	transform: rotate(30deg);
	transform-origin: bottom left;
	background-size: contain;
}

.stick_holder8 .stick_head
{
	position: absolute;
    height: 70px;
    width: 70px;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
	border-radius: 50%;
	background-color: lightblue;
	background-image: url(https://www.cryptocompare.com/media/20626/dash.png);
	transform: rotate(30deg);
	transform-origin: bottom left;
	background-size: contain;
}


.stick_body
{
	position: absolute;
	width: 20px;
	height: 150px;
	background-color: black;
	left: -20px;
	right:0;
	margin:auto;
	transform: rotate(15deg);
    top: 60px;
	border-radius: 10px;
}
.stick_hands
{
	position: absolute;
	width: 20px;
	height: 200px;
	left: -42px;
	right:0;
	margin:auto;
	transform: rotate(15deg);
    top: 80px;
}
.stick_hands div
{
	position: absolute;
	left:0;
	width: 100%;
	height: 80px;
	transform-origin: top center;
	border-radius: 10px;
}
.hand1
{
	transform: rotate(-40deg);
	background-color: black;
}
.hand2
{
	top: 70px;
	transform: rotate(-145deg);
	background-color: black;
}
.part_2 *
{
	background-color: black;
}

.hand1, .hand2, .stick_head, .leg1, .leg2, .leg3
{
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 0.3s;
	animation-direction: alternate;
}

.stick_holder8 .hand1, .stick_holder8 .hand2, .stick_holder8 .stick_head, .stick_holder8 .leg1, .stick_holder8 .leg2, .stick_holder8 .leg3
{
	animation-duration: 0.45s;
}

.stick_holder7 .hand1, .stick_holder7 .hand2, .stick_holder7 .stick_head, .stick_holder7 .leg1, .stick_holder7 .leg2, .stick_holder7 .leg3
{
	animation-duration: 0.5s;
}

.stick_holder6 .hand1, .stick_holder6 .hand2, .stick_holder6 .stick_head, .stick_holder6 .leg1, .stick_holder6 .leg2, .stick_holder6 .leg3
{
	animation-duration: 0.8s;
}

.stick_holder5 .hand1, .stick_holder5 .hand2, .stick_holder5 .stick_head, .stick_holder5 .leg1, .stick_holder5 .leg2, .stick_holder4 .leg3
{
	animation-duration: 0.4s;
}

.stick_holder4 .hand1, .stick_holder4 .hand2, .stick_holder4 .stick_head, .stick_holder4 .leg1, .stick_holder4 .leg2, .stick_holder4 .leg3
{
	animation-duration: 0.9s;
}

.stick_holder3 .hand1, .stick_holder3 .hand2, .stick_holder3 .stick_head, .stick_holder3 .leg1, .stick_holder3 .leg2, .stick_holder3 .leg3
{
	animation-duration: 0.7s;
}

.stick_holder2 .hand1, .stick_holder2 .hand2, .stick_holder2 .stick_head, .stick_holder2 .leg1, .stick_holder2 .leg2, .stick_holder2 .leg3
{
	animation-duration: 0.5s;
}

.part_2 div, .stick_holder4 .part_2 div,  .stick_holder3 .part_2 div , .stick_holder2 .part_2 div, .stick_holder5 .part_2 div
{
	animation-direction: alternate-reverse;
}

.hand1
{
	animation-name: hand1_rotate;
}
.hand2
{
	animation-name: hand2_rotate;
}
.stick_head
{
	animation-name: head_rotate;
}


.stick_legs
{
	position: absolute;
	width: 20px;
	height: 200px;
	left: -50px;
	right:0;
	margin:auto;
    top: 190px;
	transform-origin: top center;
    transform: rotate(-20deg);
}
.stick_legs div
{
	position: absolute;
	left:0;
	transform-origin: top center;
	border-radius: 10px;
}
.leg1, .leg2
{
	height: 100px;
	width: 100%;
}
.leg3
{
	width: 40px;
	height: 20px;
}
.leg1
{
	transform: rotate(-40deg);
	background-color: black;
	animation-name: leg1_rotate;
}
.leg2
{
	transform: rotate(-145deg);
	background-color: black;
	top: 90px;
	animation-name: leg2_rotate;
}
.leg3
{
	transform: rotate(15deg);
	background-color: black;
	top: 90px;
	animation-name: leg3_rotate;
}

@keyframes hand1_rotate
{
	0%
	{
		transform: rotate(-40deg);
	}
	100%
	{
		transform: rotate(40deg);
	}
}
@keyframes hand2_rotate
{
	0%
	{
		transform: rotate(-145deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}
@keyframes head_rotate
{
	0%
	{
		transform: rotate(13deg);
	}
	100%
	{
		transform: rotate(17deg);
	}
}
@keyframes leg1_rotate
{
	0%
	{
		transform: rotate(-15deg);
	}
	100%
	{
		transform: rotate(25deg);
	}
}
@keyframes leg2_rotate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(60deg);
	}
}
@keyframes leg3_rotate
{
	0%
	{
		transform: rotate(-30deg);
	}
	100%
	{
		transform: rotate(65deg);
	}
}

.cryptovalue {
text-align: center;
    font-family: Arial;
    font-size: large;
    position: relative;
    top: -30px;
    font-size: x-large;
}

.cryptovalue::before {
    content: "\0020B1";
}